@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bitter&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto
}

nav a{
    text-align: center;
    color:rgba(233, 240, 175, 0.829);
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1,#hero-msg h4{

    text-align: center;
} 

.button-box{
    text-align: center;

}
main section{
    text-align: center;

}
#background {
    height: 725px;
}
body {
    background-color:rgba(255, 255, 255, 0.733) ;
    font-family: Bitter, Condensed, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgb(44, 116, 129)  ;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: rgba(18, 3, 226, 0.733) ;
}
.book, .join {
    background-color:rgba(100, 190, 212, 0.733)  ;
    color: #302e07; 
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: rgba(17, 17, 17, 0.733) ;
    color: #d3cf7f; 
}
#background {
    background-color: rgb(44, 116, 129) ;
}
.msg{
    background-color:#f5efff  ;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    z-index: 1;
    box-shadow: 5px 5px 10px #6f7364;

}
footer {
    color :#000000;
    background-color:rgb(44, 116, 129);
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title{
    color: #f5efff ;
    font-family: "Amatic SC",Helvetica,Calibri;
    font-size: 2em;
    margin-top: 10px;

}
h4{
    color: #551bdd;
}
.msg h2{
    color: #000000;
    font-family: "Amatic SC",Helvetica,Calibri;
}
.msg p{
    color: #551bdd;
    font-size: 0.8em;
    padding-bottom: 15px ;
}
footer a {
    color: #d3cf7f; 
    text-decoration: none;
}
footer a:hover {
    color: #2600d1; 
}

.logo,.icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}
footer p {
    font-size: 1.25em;
}
footer p a:hover{
    text-decoration: underline;
}
#logo_link{
    padding-top: 5px;
}
.icon{
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {  
    margin: 0 0;
}
.card-img{
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    justify-self:left;
}
main section img{
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}
.card-img, .mountains {
    width: 100%;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows:100px 400px 100px 90px 50px 300px 50px 60px 100px;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;

}
#background{
    grid-column: 1/11;
    grid-row: 4/9;

}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;

}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
#faq-content{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(4,0.5fr);
}
#faq-title{
    grid-column: 5/6;
    text-align: right;
    grid-row: 1/2;
    font-size: 65px;

}
#faq-img{
    grid-column: 6/7;   
    width: 65px;
    align-self: center;
    grid-row: 1/2;
}
#faq-msg1{
    grid-column: 2/4;   
    grid-row: 2/5;
    display: grid;
    grid-template-rows: 150px auto
    
}
#faq-msg2{
    grid-column: 5/7;   
    grid-row: 2/5;
    display: grid;
    grid-template-rows: 150px auto
}
#faq-msg3{
    grid-column: 8/10;   
    grid-row: 2/5;
    display: grid;
    grid-template-rows: 150px auto

}
main section section h2{
    font-size: larger; 
    grid-row: 1/2;
    
}
main section section p{
    font-size: medium;
    grid-row: 2/3;
}

#faq-main{
    background-color:#f5efff;
}
#faq-footer {
    margin-top: 0px; 
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
       
@media screen and (max-width: 1100px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}